/* Colors */
/* Fonts */
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Rg';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Rg', sans-serif;
}
/* Typography */
section {
  padding: 10rem 0;
}
.button {
  background-color: #f4ba30;
  color: #ffffff;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  font-size: 1.2rem;
}
main {
  background: #ffffff url(../img/main-bg.png) top center no-repeat;
}
.main {
  padding: 3rem 0 5rem;
  background-size: cover;
  /* Btn center */
  /* left form */
}
.main-content {
  margin-top: 10rem;
}
.main .phone-link {
  display: inline-block;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-weight: 900;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.main .header {
  height: 7rem;
}
.main .wrap {
  display: table;
  height: 7rem;
  width: 100%;
  text-align: right;
}
.main .wrap-block {
  display: table-cell;
  vertical-align: middle;
}
.main .main-title p {
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-size: 2.4rem;
  font-family: 'ProximaNova_Rg', sans-serif;
}
.main .main-title span {
  padding: 3rem;
  background-color: #49bf15;
  font-size: 1.8rem;
  display: inline-block;
  color: #ffffff;
  text-align: center;
}
.main .main-title span strong {
  font-size: 3rem;
  font-family: 'ProximaNova_Bold', sans-serif;
}
.main .main-title h1 {
  font-family: 'ProximaNova_Bold', sans-serif;
  line-height: 1.4;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 0px;
}
.main #text-main {
  text-transform: uppercase;
  font-size: 2.2rem;
  padding-top: 2rem;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-weight: 900;
}
/* Fotm */
.main-form {
  padding: 4rem 5rem;
  background-color: #ffffff;
  text-align: center;
  padding-top: 5rem;
}
.main-form .form-header {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.main-form strong {
  font-size: 2rem;
}
.main-form input {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  padding: 1.5rem;
}
.main-form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: inline-block;
  background-color: #ffffff;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.main-form .main-form-btn {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.main-form small {
  font-size: 1.2rem;
}
