body {
	margin: 0;
	font-family: sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}




/* Navigation */

.navigation {
	background: #eeeeee;
	padding: 10px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation .title {
	font-weight: 900;
}

.menu-list {
	display: flex;
}

.menu-list-item {
	color: #000000;
	font-size: 12px;
	padding-right: 20px;
}

.menu-list-item a {
	text-decoration: none;
	color: #000000;
	font-weight: 600;
}



/* Main */
.main {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.my-button {
	padding: 20px;
	border-radius: 10px;
	border: none;
	border: 1px solid red;
	transition-duration: 1s;
}

.my-button:hover {
	color: red;
}